

/* Стили для Index.HTML */
:root {
    --primery-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primery-bg-color:#ffffff;
    --portfolio-bg-color: #E5E5E5;
    --portfolio-button-color:#F5F4FA;
    --portfolio-accent-color:#2196F3;
    --portfolio-bgaccent-color:#ffffff;
    --footer-bg-color:#2F303A;
}

body{
   
    color: var(--primery-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height:1.71;
letter-spacing: 0.03em;
   
}
.link{
    text-decoration: none;
    color:currentColor
}
.list{
    list-style: none;
}
/* header */
.header{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

}
.logo{
    color:var(--accent-color);
    font-family: Raleway,cursive;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.44;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-black{
    color: var(--title-text-color);
    
}

/* Site-nav */
.site-nav {
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus
{
    color:var(--accent-color) 
}
.site-nav .link.current{
    color:var(--accent-color)
}
/* auto-nav */

.auto-nav .link:hover,
.auto-nav .link:focus {
    color: var(--accent-color)
}
/* Main */


/* Hero */
.hero{
    background-color: var(--footer-bg-color);
    
}
.hero-title{
    color:var(--primery-bg-color) ;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Button */
.order{
    background-color: var(--accent-color);
    color: var(--primery-bg-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;                     
    text-align: center;
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 0.06em;
}

/* Section */
.feature-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.section-title {
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
/* Our team */
.section.team{
  background-color: var(--portfolio-button-color);  
}
.team-title{
    
    font-weight: 500;
    color: var(--title-text-color);
}
.team-specialty,
.team-title{
    font-size: 16px;  
    line-height: 1.19;
}

/* Футтер */

.footer{
    background-color: var(--footer-bg-color);
    
}

.logo-white{
    color: var(--portfolio-bgaccent-color);
    
}
.address{
    color: rgba(255, 255, 255, 0.6);
    font-style: inherit;
 }
 .address-link[target="_blank"] {
    color: var(--primery-bg-color);
 }



 /* Стили кнопок портфолио*/ 
.filter-button{
    color: var(--title-text-color);
    background-color: var(--portfolio-button-color);
    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
   
} 

.filter-button:hover,
.filter-button:focus
{ 
    color: var(--portfolio-accent-color);
    
}
/* Стили проэктов */
.projects{
    letter-spacing: 0.06em;
}
.title-prg{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--title-text-color);
}
.option{
    
    font-size: 16px;
    line-height: 1.88;
}

/* цвeт оснопного загаловка color: #FFFFFF; */
/* цветт загаловков color: #212121; */
/* цвет абзацов color: #757575; */
/* цвет акцента color: #2196F3; */
/* цвет фона первой секции background: #2F303A; */
/* цвет фона второй секции background: #E5E5E5; */
/* цвет фонна третей секции background: #F5F4FA; */
